@font-face {
  font-family: 'Boda_B_C';
  src: url('/assets/font/LTStreetwayNeue-Regular.otf') format('truetype');
}

/* Añadir un fondo semi-transparente a los contenedores */

.container-body {
  background-color: #f8f3f4;
  /* color: #702b23; */
  font-family: 'Boda_B_C';
  color : #111111;
  /* background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  background-image: url('/assets/img/5340319.png');
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center top; */
}

.container-body-img {
  background-color: rgba(233, 199, 199, 0.1);
  background-image: url('/assets/img/fondo18.jpg');
  font-family: 'Boda_B_C';
  color : #111111;
  /* background-size: cover; */
  background-size: 100% auto;
  background-repeat: repeat-y;
  /* background-attachment: fixed; */
  background-position: center top;
}



/*.row-boda {
  background-color: #FA8072;
  color: #ffffff;
}*/

.row-boda {
  background-color: #ef7090;
  color: #ffffff;
}

.thick-border {
  border: 2px solid #FBB787;
}

.thick-top-bottom-border {
  border-top: 2px solid #FBB787;
  border-bottom: 2px solid #FBB787;
}

.thick-left {
  border-left: 2px solid #FBB787;
}

.thick-right {
  border-right: 2px solid #FBB787;
}

/*.txt-coral-title { 
  font-family: 'Great Vibes', cursive;
  color : #F76C6A
}*/



@font-face {
  font-family: 'Boda_B_C2';
  src: url('/assets/font/Achieve.otf') format('truetype');
}

/*.txt-coral-title {
  font-family: 'Boda_B_C2';
  color : #F76C6A;
}*/

.txt-coral-title {
  font-family: 'Boda_B_C2';
  color : #ff9b51;
}

.txt-white-title { 
  font-family: 'Boda_B_C2';
  color : #ffffff
}


.txt-dusty-pink {color : #EAC3CB }
.txt-coral {color : #F76C6A }
.txt-peach {color : #FBB787 }
.txt-salmon {color : #FA8072 }


.btn-boda {
  background-color: #ff6088;
  border-radius: 6px; /* Borde redondeado */
  border: 0px solid transparent; /* Borde transparente para usar el degradado */
  background-clip: padding-box; /* Necesario para que el fondo no se superponga al borde */
  border-image: linear-gradient(to right, #ff6088, #ff6088) 1; /* Degradado de Coral a Salmon */
}

.btn-boda-2 {
  background-color: #ef7090;
  border-radius: 6px; /* Borde redondeado */
  border: 2px solid transparent; /* Borde transparente para usar el degradado */
  background-clip: padding-box; /* Necesario para que el fondo no se superponga al borde */
  border-image: linear-gradient(to right, #f098ae, #f098ae) 1; /* Degradado de Coral a Salmon */
}

.btn-boda-3 {
  background-color: #f098ae;
  border-radius: 0px; /* Borde redondeado */
  border: 2px solid transparent; /* Borde transparente para usar el degradado */
  background-clip: padding-box; /* Necesario para que el fondo no se superponga al borde */
  border-image: linear-gradient(to right, #f098ae, #f098ae) 1; /* Degradado de Coral a Salmon */
}

.btn-boda-white {
  color: #702b23;
  background-color: #ffffff;
  border-radius: 6px; /* Borde redondeado */
  border: 0px solid transparent; /* Borde transparente para usar el degradado */
  background-clip: padding-box; /* Necesario para que el fondo no se superponga al borde */
  border-image: linear-gradient(to right, #ffffff, #ffffff) 1; /* Degradado de Coral a Salmon */
}


.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}


.txt-2 {font-size: 2;}
.txt-4 {font-size: 4;}
.txt-6 {font-size: 6;}
.txt-8 {font-size: 8;}
.txt-12 {font-size: 12px;}
.txt-13 {font-size: 13px;}
.txt-14 {font-size: 14px;}
.txt-16 {font-size: 16px;}
.txt-18 {font-size: 18px;}
.txt-20 {font-size: 20px;}
.txt-22 {font-size: 22px;}
.txt-24 {font-size: 24px;}
.txt-26 {font-size: 26px;}
.txt-28 {font-size: 28px;}
.txt-30 {font-size: 30px;}
.txt-32 {font-size: 32px;}
.txt-34 {font-size: 34px;}
.txt-36 {font-size: 36px;}
.txt-38 {font-size: 38px;}
.txt-40 {font-size: 40px;}
.txt-42 {font-size: 42px;}
.txt-44 {font-size: 44px;}
.txt-46 {font-size: 46px;}
.txt-48 {font-size: 48px;}
.txt-50 {font-size: 50px;}

.contenedor {
  overflow: hidden;
}

@keyframes scaleAnimation {
  0%, 100% {
    transform: scale(1); /* Tamaño normal */
  }
  50% {
    transform: scale(1.3); /* Tamaño agrandado */
  }
}

@keyframes textScaleOne {
  0%, 100% {
    font-size: 90%;
  }
  50% {
    font-size: 110%;
  }
}

@keyframes textScaleTwo {
  0%, 100% {
    font-size: 90%;
  }
  50% {
    font-size: 150%;
  }
}


.txt-scale-one {
  animation: textScaleOne 3s infinite ease-in-out;
}

.txt-scale-two {
  animation: textScaleTwo 3s infinite ease-in-out;
}

.imagen-boda {
  width: 100px; /* Ancho deseado */
  height: auto; /* Altura automática para mantener la proporción */
  opacity: 0; /* Inicialmente oculta */
  transition: opacity 2s ease, transform 2s ease;
}


.imagen-boda.visible {
  opacity: 1; /* Visible cuando la clase .visible se añade */
}

.imagen-boda-short.visible {
  opacity: 1; /* Visible cuando la clase .visible se añade */
}


.imagen-boda-short {
  width: 60px; /* Ancho deseado */
  height: auto; /* Altura automática para mantener la proporción */
  opacity: 0; /* Inicialmente oculta */
  transition: opacity 2s ease, transform 2s ease;
}

.imagen-boda-row {
  width: 100%; /* Ajustar imagen al ancho del contenedor */
  height: auto; /* Mantener proporciones */
}



txt-right {
  text-align: right; /* Alinear texto a la derecha */
}

txt-left {
  text-align: left; /* Alinear texto a la derecha */
}

.cruz-icon {
  width: 10px; /* Ajusta el ancho de la imagen de la cruz según tus necesidades */
  height: auto; /* Esto mantendrá la proporción de la imagen */
  vertical-align: middle; /* Esto alineará verticalmente la imagen con el texto */
  margin-right: 5px; /* Ajusta el margen entre la imagen de la cruz y el texto según tus necesidades */
}

.generic-icon {
  width: 20px; /* Ajusta el ancho de la imagen de la cruz según tus necesidades */
  height: auto; /* Esto mantendrá la proporción de la imagen */
  vertical-align: middle; /* Esto alineará verticalmente la imagen con el texto */
  margin-right: 5px; /* Ajusta el margen entre la imagen de la cruz y el texto según tus necesidades */
}

.generic-icon-min {
  width: 15px; /* Ajusta el ancho de la imagen de la cruz según tus necesidades */
  height: auto; /* Esto mantendrá la proporción de la imagen */
  vertical-align: middle; /* Esto alineará verticalmente la imagen con el texto */
  margin-right: 5px; /* Ajusta el margen entre la imagen de la cruz y el texto según tus necesidades */
}